{{!-- hbs means handle bars same as html but better --}}
<!doctype html>
<html lang="en">
  <head>
    {{>header}}
    <title>Hello, world!</title>
  </head>
  <body>
      {{>navbar}}


   
  
    <!-- Bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

  </body>
</html>